Package: org.thebigboss.contrastbgtoggle
Name: Reduce Transparency Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch, firmware (>= 7.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Fast toggling for Reduce Transparency.
Maintainer: PoomSmart
Author: PoomSmart
Section: Addons (Flipswitch)