Package: com.ps.reducetransparencyflipswitch
Name: Reduce Transparency Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch, firmware (>= 11.0)
Provides: org.thebigboss.contrastbgtoggle
Replaces: org.thebigboss.contrastbgtoggle
Conflicts: org.thebigboss.contrastbgtoggle
Version: 1.0.0
Architecture: iphoneos-arm
Description: Flipswitch toggle for Reduce Transparency.
Maintainer: PoomSmart
Author: PoomSmart
Section: Addons (Flipswitch)
